<script>
    $(document).ready(function () {
        $('td').click(function (e) {
//            if ($(this).css('background-color')=='rgb(221, 221, 221)'){
//                $(this).css('background-color', '#fff');
//                $("#horariosVisita").val(
//                        $("#horariosVisita").val().replace(
//                                                        $(this).attr('id')+", ", 
//                                                        ""
//                                                    )
//                            );
//            }else{
                $('td[style*="background-color: rgb(221, 221, 221)"]').css('background-color', '#fff');
                $(this).css('background-color', '#ddd');
                $("#horarioVisita").val($(this).attr('id'));
        });
        $('form').submit(function(e){
            if ($('#horarioVisita').val()==0){
                alert('Escolha uma data e horário no calendário ao lado!');
                return false;
            }else
                return true;
        });
    });
</script>

<div id="etapas">
    <div class="etapa"><a href="#"><label>1-</label> tour virtual</a></div>
    <div class="etapa" style="border-bottom: 5px solid #fff"><a href="#"><label>2-</label> agende uma visita</a></div>
    <div class="etapa"><a href="#"><label>3-</label> ficha de visita</a></div>
    <div class="etapa"><a href="#"><label>4-</label> contrato</a></div>
</div>

<div id="conteudo">
    <?php if (isset($this->confirma)): ?>
        <label>Sua visita foi agendada!<br>Assim que o locador confirmar entraremos em contato.</label><?php
    else: ?>
        <div style="margin-right:30px;float:left;width:263px;height:300px;overflow:auto">
            <table id="visita">
                <thead>
                    <tr id="cabecalho"><td></td>
                        <?php foreach ($this->semanas as $semana): ?>
                            <td>
                                <?=$semana?><br>
                                <?=$this->hoje->modify('+1 day')->format('d/m')?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                </thead>
                <tbody><?php
                    for ($hora=6; $hora<=23; $hora++): 
                        $this->hoje->modify('-7 days');
                        $this->hoje->setTime($hora, 0, 0);?>
                        <tr><td><?=$hora?>:00</td><?php
                        foreach ($this->semanas as $semana): ?>
                            <td id="<?=$this->hoje->modify('+1 day')->format('d/m/Y H:i:s')?>"><?php
                                if ( strstr($this->imovel->getHorariosVisita(), $semana.'-'.$hora.':00')): ?>
                                    X<?php
                                endif; ?>
                            </td><?php
                        endforeach; ?>
                        </tr><?php
                    endfor; ?>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <form method="post" action="<?= $this->basePath() ?>/imovel/agendavisita/id/<?=$this->imovel->getId()?>/confirma<?=($this->visita)?'/'.$this->visita:null?>">
            <?php if ($this->horarioVisita): 
                $textoBotao = "reagendar";?>
                <h2>Podemos confirmar sua visita para o dia <b><?=$this->horarioVisita?></b>?</h2>
                <input type='submit' value="confirmar">
            <?php else: 
                $textoBotao = "agendar"; ?>
                <h2>Qual horario podemos agendar sua visita?</h2>
            <?php endif; ?>
            <p>X = horario disponivel do locador</p>
<!--            <label>Alguma observaçao?<br>
                <textarea rows="7" cols="35"></textarea>
            </label><br>-->
            <input type='submit' id="agendareagenda" value="<?=$textoBotao?>">
            <input type="hidden" name="horarioVisita" id="horarioVisita" value="<?=$this->horarioVisita?>">
        </form>
    <?php endif; ?>
</div>